In [18]:
import pandas as pd
import socket

s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
s.connect(('rtd.hpwren.ucsd.edu', 12020))
df = pd.DataFrame()
for i in range(0, 10):
    d = str(s.recv(1024))
    p = d.split('\\', 2)
    if len(df)>0:
        df = df.append(pd.DataFrame({'number': [i], 'value': [p[2]]}))
    else:
        df = pd.DataFrame({'number': [i], 'value': [p[2]]})

s.close()

In [19]:
df

   number                                              value
0       0  t1496340731\t0R1,Dn=070D,Dm=083D,Dx=094D,Sn=1....
0       1  t1496340732\t0R1,Dn=070D,Dm=083D,Dx=094D,Sn=1....
0       2  t1496340733\t0R1,Dn=070D,Dm=080D,Dx=094D,Sn=1....
0       3  t1496340734\t0R1,Dn=070D,Dm=078D,Dx=094D,Sn=1....
0       4  t1496340735\t0R1,Dn=070D,Dm=076D,Dx=091D,Sn=1....
0       5  t1496340736\t0R1,Dn=070D,Dm=075D,Dx=090D,Sn=1....
0       6  t1496340737\t0R1,Dn=070D,Dm=074D,Dx=080D,Sn=1....
0       7  t1496340738\t0R1,Dn=070D,Dm=074D,Dx=080D,Sn=1....
0       8  t1496340739\t0R1,Dn=070D,Dm=075D,Dx=080D,Sn=1....
0       9  t1496340739\t0R2,Ta=15.6C,Ua=71.9P,Pa=883.5H\n\r'

In [6]:
d.split('\t', 2)

["b'198.202.124.3\\tHPWREN:LP-WXT520:0R1:1:0\\t1496340420\\t0R1,Dn=106D,Dm=124D,Dx=149D,Sn=0.8M,Sm=1.2M,Sx=1.6M\\n\\r'"]

In [8]:
p[2]

IndexError: list index out of range

In [9]:
d

"b'198.202.124.3\\tHPWREN:LP-WXT520:0R1:1:0\\t1496340511\\t0R1,Dn=078D,Dm=093D,Dx=107D,Sn=1.3M,Sm=1.8M,Sx=2.4M\\n\\r'"